body {
    background: #faf8f8;
}
.timeline {
    width: calc(100% / 3);
    border-left: 0.2rem solid #1d1d1b;
}

.timeline .item:before {
    background-color: #1d1d1b;
    border-radius: 50%;
    content: '';
    height: 0.5rem;
    left: -0.35rem;
    top: 0.35rem;
    position: absolute;
    width: 0.5rem;
}

.timeline .timestamp {
    margin-bottom: 0.35rem;
}

.car {
    border-radius: 0.3rem;
    max-width: 24rem;
}

.item {
    padding-left: 4rem;
    margin: 4rem 0;
    position: relative;
}

.content {
    display: flex;
    justify-content: center;
    margin: 2rem 4rem;
}

.user {
    position: absolute;
    top:-2rem;
    right: -2rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.carousel .thumb {
    width: auto;
}
